run-windows-commands:
    runs-on: windows-latest
    needs: ["run-shell-command"]
    steps:
      - name: Directory
      PowerShell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell: bash
